<div class="relative w-full h-full">
	<img src="{{ article.image | img_url: '2048X2048' }}" alt="{{ article.image.alt | escape }}" loading="lazy" class="h-full w-full object-contain" />
	{% if article.content != '' %}
	<a href="{{ article.content }}" class="absolute top-0 h-full w-full z-10"></a>
	{% endif %}
</div>
