<div class="fixed bottom-0 p-4">
	{% if request.page_type == "index" %}
	<a href="{{ section.settings.link }}">
		<img src="{{ section.settings.image | img_url: '400x' }}" alt="{{ section.settings.image.alt }}" class="w-28" />
	</a>
	{% endif %}
</div>

{% schema %} { "name": "t:sections.footer.name", "settings": [{ "type": "image_picker", "id": "image", "label": "Featured Image" }, { "type": "url", "id": "link", "label": "Link" }] } {% endschema %}
