<div class="md:hidden fixed right-4 bottom-4">
	<button @click="$store.dispatch('mobile-menu/toggle')" class="">{% render 'icon-menu', class: icon_class %}</button>
</div>

{% schema %} { "name": "t:sections.mobile-navigation.name", "class": "mobile-navigation" } {% endschema %}
