{% assign video = section.settings.video %} {% assign image = section.settings.image %}

<div class="relative">
	<video class="relative object-cover w-full min-h-screen" poster="{{ image.src | img_url: '2048x2048' }}" playsinline muted="muted" autoplay loop>
		<source src="{{ video }}" type="video/mp4" />
		Your browser does not support the video tag.
	</video>
</div>

{% schema %} { "name": "t:sections.full-page-image.name", "class": "vue-section", "settings": [ { "type": "image_picker", "id": "image", "label": "Fallback Image" }, { "type": "url", "id": "video", "label": "t:common.video" } ], "presets": [ { "name": "t:sections.full-page-image.name", "category": "Image" } ] } {% endschema %}
